.modal-terminos{
   
    width: 950px;
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    border: 1px solid rgb(206, 203, 203);
    border-radius: 8px;
    padding: 15px;
    max-height: 80vh;
    overflow-y: auto;
    background: white; 

}

.modal-terminos h2{
    text-align: center;
    color: red;
}
.modal-terminos h3,h4{
    color: red;
}
.modal-terminos ul{
    list-style-type: decimal;
    
}

.modal-terminos button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
     /* Espaciado entre los botones y el contenido anterior */
}